* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  min-height: 100vh;
  height: auto;
  margin: auto;
}

/* Header */
.first-container {
  background-color: #99c1b9;
  color: white;
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  align-self: left;
  padding: 20px;
}

.header-logo {
  font-weight: 500;
  font-size: 18px;
  flex: 1 1 0%;
  justify-content: flex-start;
}

ul,
li,
a {
  text-decoration: none;
  color: white;
  display: block;
  list-style: none;
  display: inline-block;
  text-align: right;
  justify-content: space-between;
  padding-left: 15px;
}

.links {
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  justify-content: center;
  align-items: space-between;
  flex: 2 1 0%;
  text-align: right;
}

/* Hero */

.hero-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-box-left {
  flex: 1 1 0%;
}

#hero-main-text {
  font-size: 60px;
  font-weight: 900;
}

#hero-secondary-text {
  font-size: 16px;
  font-family: 500;
}
.hero-box-right {
  flex: 2 1 0%;
}

.hero-box-right img {
  height: 80%;
  max-width: 80%;
  margin-left: auto;
  display: block;
}

#no-border-button {
  background: #f2d0a9;
  color: #40916c;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 9px;
}

/* Info */
.info-box {
  background-color: #f1e3d3;
  color: #006d77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 100px;
}

.info-box h2 {
  font-size: 40px;
  font-weight: 600;
}

.shops {
  display: flex;
  align-items: center;
  padding: 100px;
  gap: 35px;
}

.shops img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  max-height: 40vh;
  object-fit: contain;
  border: solid 5px #006d77;
}

.shops p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-box {
  background-color: #d88c9a;
  color: #495057;
}

.footer {
  background-color: #f2d0a9;
}

.call-to-action {
  background-color: #8e7dbe;
  color: #f1e3d3;
}
